body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#282F45, #040C25);
    cursor: default;
}
.body{
    min-height: 100vh;
}
.main-block{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#glCanvas{
    border-radius: 3%;
    box-shadow: none;
}
#glCanvas:hover{
    box-shadow: 10px 5px 5px darkslategray;
}